---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actual-api
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  dependsOn:
    - name: actual-budget
      namespace: selfhosted
  values:
    controllers:
      actual-api:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          labels:
            egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
          securityContext:
            runAsUser: "${APP_UID}"
            runAsGroup: "${APP_GID}"
            fsGroup: "${APP_GID}"
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: jhonderson/actual-http-api
              tag: ${ACTUAL_VERSION}@sha256:f8d33188350a5e2db30cff60a489429d4ccd154a77f0305b5c8199c1b36de443
              pullPolicy: IfNotPresent

            env:
              # Connection to Actual Budget server
              ACTUAL_SERVER_URL: "http://actual-budget.selfhosted.svc.cluster.local:5006"

            envFrom:
              - secretRef:
                  name: actual-api-secret

            probes:
              liveness:
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 5007
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness:
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 30

            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 256Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: actual-api
        ports:
          http:
            port: *port

    persistence:
      data:
        type: emptyDir
