---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: externaldns-internal
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.15.1
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns
        namespace: flux-system
      interval: 30m

  values:
    fullnameOverride: &name externaldns-internal

    domainFilters:
      - piscio.net

    env:
      - name: EXTERNAL_DNS_RFC2136_ZONE
        value: piscio.net
      - name: EXTERNAL_DNS_RFC2136_PORT
        value: "53"
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET_ALG
        value: hmac-sha512
      - name: EXTERNAL_DNS_RFC2136_HOST
        valueFrom:
          secretKeyRef:
            name: externaldns-internal-secrets
            key: host
      - name: EXTERNAL_DNS_RFC2136_TSIG_KEYNAME
        valueFrom:
          secretKeyRef:
            name: externaldns-internal-secrets
            key: tsig-keyname
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET
        valueFrom:
          secretKeyRef:
            name: externaldns-internal-secrets
            key: tsig-secret

    podAnnotations:
      secret.reloader.stakater.com/reload: externaldns-internal-secrets

    policy: sync
    provider: rfc2136

    resources:
      requests:
        cpu: 16m
        memory: 90M
      limits:
        memory: 90M

    serviceMonitor:
      enabled: true

    sources:
      - ingress
      - service

    txtPrefix: "k8s."

  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
