---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./doc-home-ops-private-secret.yaml
  - ./doc-home-ops-private.yaml
