---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname grafana
  namespace: flux-system
spec:
  targetNamespace: monitoring
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: doc-ops-kubernetes
  wait: false
  dependsOn:
    - name: external-secrets-stores
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: grafana.piscio.net
      APP_UID: "472"
      APP_GID: "472"
      VOLSYNC_CLAIM: grafana-config
