---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: librechat-secret
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: librechat-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        ALLOW_EMAIL_LOGIN: "true"
        ALLOW_REGISTRATION: "false"
        ALLOW_SOCIAL_LOGIN: "false"
        ALLOW_SOCIAL_REGISTRATION: "false"
        ENDPOINTS: "openAI,assistants,gptPlugins,OpenRouter"
        APP_TITLE: "Librechat"
        DOMAIN_CLIENT: "${HOSTNAME}"
        DOMAIN_SERVER: "${HOSTNAME}"
        CREDS_KEY: "{{ .librechat_creds_key }}"
        CREDS_IV: "{{ .librechat_creds_iv }}"
        CONFIG_PATH: "/librechat/config/librechat.yaml"
        JWT_SECRET: "{{ .librechat_jwt_secret }}"
        JWT_REFRESH_SECRET: "{{ .librechat_jwt_refresh_secret }}"
        # CHECK_BALANCE: "true"

        # LLMs
        # OpenRouter Key
        OPENROUTER_KEY: "{{ .openrouter_api_key }}"
        # OPENROUTER_API_KEY: "{{ .openrouter_api_key }}"
        ASSISTANTS_API_KEY: "{{ .openai_api_key }}"
        OPENAI_API_KEY: "{{ .openai_api_key }}"
        # ASSISTANTS_API_KEY: "openrouter"
        # OPENAI_API_KEY: "openrouter"

        # Search
        SEARCH: "false"
        GOOGLE_SEARCH_API_KEY: "{{ .google_search_api_key }}"
        GOOGLE_CSE_ID: "{{ .google_search_cse_id }}"

        # MongoDB
        MONGO_URI: "{{ .mongodb_url }}"

        # Plugins
        #PLUGIN_MODELS: "gpt-4o,gpt-4o-mini,gpt-4,gpt-4-turbo,gpt-4-turbo-preview,gpt-4-0125-preview,gpt-4-1106-preview,gpt-4-0613,gpt-3.5-turbo,gpt-3.5-turbo-0125,gpt-3.5-turbo-1106,gpt-3.5-turbo-0613"
        # PLUGIN_MODELS: "openai/gpt-4o-2024-08-06,openai/chatgpt-4o-latest,openai/gpt-4o-mini-2024-07-18,openai/gpt-4o-mini"

  dataFrom:
    - extract:
        key: openrouter
      rewrite:
        - regexp:
            source: "(.*)"
            target: "openrouter_$1"
    - extract:
        key: openai
      rewrite:
        - regexp:
            source: "(.*)"
            target: "openai_$1"
    - extract:
        key: google_search
      rewrite:
        - regexp:
            source: "(.*)"
            target: "google_search_$1"
    - extract:
        key: mongodb
      rewrite:
        - regexp:
            source: "(.*)"
            target: "mongodb_$1"
    - extract:
        key: librechat
      rewrite:
        - regexp:
            source: "(.*)"
            target: "librechat_$1"
