---
fail_fast: false

exclude: |
  (?x)^(
      docs/_assets/.*
    | .*\.sops\.toml
  )$

repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args:
          - -c
          - ".yamllint.yaml"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-merge-conflict
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: forbid-tabs
        name: Forbid hard tabs
        entry: uv run python precommit_hooks/forbid_tabs.py
        language: python
        types: [text]

      - id: normalize-smartquotes
        name: Normalize smart quotes
        entry: uv run python precommit_hooks/normalize_smartquotes.py
        language: python
        types: [text]

      - id: prettier
        name: Prettier
        entry: prettier --write
        language: node
        additional_dependencies:
          - prettier@3.7.4
        files: \.(json5?|ya?ml|md|markdown)$
        exclude: |
          (?x)^(
              .*\.sops\.yaml$
            | .*\.sops\.yml$
          )$

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
