---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wekan
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  dependsOn:
    - name: wekan-mongodb
      namespace: selfhosted
  values:
    controllers:
      wekan:
        annotations:
          secret.reloader.stakater.com/reload: wekan-secret

        pod:
          labels:
            egress.home.arpa/internet: allow
            egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
            ingress.home.arpa/gateway-route: allow

        containers:
          app:
            image:
              repository: wekanteam/wekan
              tag: v8.22@sha256:bb015b0f55adc2542829c84bad926a16ce248aa69fe76225b61fd1b89a172e58
            env:
              ROOT_URL: "https://${HOSTNAME}"
              PORT: &port 8080
            envFrom:
              - secretRef:
                  name: wekan-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 50m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: wekan
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - ${HOSTNAME}
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: wekan
                port: *port
