---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: authentik-secret
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        AUTHENTIK_SECRET_KEY: "{{ .authentik_secret_key }}"
        AUTHENTIK_EMAIL_HOST: "{{ .authentik_email_host }}"
        AUTHENTIK_EMAIL_USERNAME: "{{ .authentik_email_username }}"
        AUTHENTIK_EMAIL_PASSWORD: "{{ .mailgun_authentik_smtp_password }}"
        AUTHENTIK_EMAIL_FROM: "{{ .authentik_email_from }}"
  dataFrom:
    - extract:
        key: Authentik
      rewrite:
        - regexp:
            source: "(.*)"
            target: "authentik_$1"
    - extract:
        key: Mailgun
      rewrite:
        - regexp:
            source: "(.*)"
            target: "mailgun_$1"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-db
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-pgo-secrets
    kind: ClusterSecretStore
  target:
    name: authentik-db-secret
    template:
      type: Opaque
      data:
        # Use PgBouncer (transaction pooling) to reduce pressure on Postgres.
        # yamllint disable rule:quoted-strings
        AUTHENTIK_POSTGRESQL__HOST: '{{ index . "pgbouncer-host" }}'
        AUTHENTIK_POSTGRESQL__PORT: '{{ index . "pgbouncer-port" }}'
        AUTHENTIK_POSTGRESQL__NAME: '{{ index . "dbname" }}'
        AUTHENTIK_POSTGRESQL__USER: '{{ index . "user" }}'
        AUTHENTIK_POSTGRESQL__PASSWORD: '{{ index . "password" }}'
        # yamllint enable rule:quoted-strings
  dataFrom:
    - extract:
        key: postgres-pguser-authentik
