---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: loki-secret
  namespace: monitoring
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: loki-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        BUCKET_NAME: "{{ .loki_bucket_name }}"
        S3_BUCKET_HOST: "{{ .loki_bucket_host }}"
        S3_BUCKET_REGION: "{{ .loki_bucket_region }}"
        S3_ACCESS_KEY: "{{ .loki_access_key }}"
        S3_SECRET_KEY: "{{ .loki_secret_key }}"
  dataFrom:
    - extract:
        key: loki
      rewrite:
        - regexp:
            source: "(.*)"
            target: "loki_$1"
