---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname librechat
  namespace: flux-system
spec:
  targetNamespace: selfhosted
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/doc-home-cluster/apps/selfhosted/librechat/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: doc-ops-kubernetes
  wait: false
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: librechat.piscio.net
      VOLSYNC_CLAIM: librechat-mongodb-data
