---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jellyfin-external-nfs
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  mountOptions:
    - nfsvers=4.1
    - proto=tcp
  nfs:
    server: piscionas.piscio.net
    path: /volume2/MediaExternal
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-external-nfs
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: ""
  volumeName: jellyfin-external-nfs
