---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ghostfolio
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  dependsOn:
    - name: ghostfolio-redis
      namespace: selfhosted
  values:
    controllers:
      ghostfolio:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          labels:
            egress.home.arpa/internet: allow
            ingress.home.arpa/gateway-route: allow
            egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
            egress.home.arpa/postgres-cluster: allow

        containers:
          app:
            image:
              repository: ghostfolio/ghostfolio
              tag: 2.230.0@sha256:975a532503d528b8ffd416171e71cb4258fec11fe8cdf1a3badfb8c2c3fd340e
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 1Gi

            envFrom:
              - secretRef:
                  name: ghostfolio-secret
              - secretRef:
                  name: ghostfolio-db-secret

    service:
      app:
        controller: ghostfolio
        ports:
          http:
            port: &port 3333

    route:
      app:
        hostnames:
          - ${HOSTNAME}
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: ghostfolio
                port: *port
