---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: snapshot-controller
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 3.0.6
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    controller:
      ## IMAGE ADDED TO FIX https://github.com/vmware-tanzu/velero/issues/7433
      # image:
      #   repository: registry.k8s.io/sig-storage/snapshot-controller
      #   pullPolicy: IfNotPresent
      #   tag: "v6.3.4"

      serviceMonitor:
        create: true
    webhook:
      enabled: true
      ## IMAGE ADDED TO FIX https://github.com/vmware-tanzu/velero/issues/7433
      # image:
      #   repository: registry.k8s.io/sig-storage/snapshot-validation-webhook
      #   pullPolicy: IfNotPresent
      #   tag: "v6.3.4"
      tls:
        certManagerIssuerRef:
          name: snapshot-controller-webhook-ca
          kind: Issuer
