---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname alertmanager
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  targetNamespace: monitoring
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: doc-ops-kubernetes
  wait: true
  dependsOn:
    - name: external-secrets-stores
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: alertmanager.piscio.net
