---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: notifiarr-secret
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: notifiarr-secret
    creationPolicy: Owner
  data:
    - secretKey: api_key
      remoteRef:
        key: notifiarr
        property: api_key
    - secretKey: plex_token
      remoteRef:
        key: notifiarr
        property: plex_token
    - secretKey: radarr_api_key
      remoteRef:
        key: radarr
        property: api_key
    - secretKey: sonarr_api_key
      remoteRef:
        key: sonarr
        property: api_key
