---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: client-info-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: client-info-secret
    creationPolicy: Owner
  data:
    - secretKey: client-info.yml
      remoteRef:
        key: synology-csi
        property: client-info
