---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
resources:
  - ./esphome/ks.yaml
  - ./home-assistant/ks.yaml
  - ./openwakeword/ks.yaml
  - ./piper/ks.yaml
  - ./speech-to-phrase/ks.yaml
  - ./whisper/ks.yaml
  - ./zigbee2mqtt/ks.yaml
components:
  - ../../components/namespace
  - ../../components/flux/alerts
replacements:
  - path: ../../components/replacements/ks.yaml
