---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./esphome/ks.yaml
  - ./home-assistant/ks.yaml
  - ./zigbee2mqtt/ks.yaml
components:
  - ../../components/namespace
  - ../../components/flux/alerts
