---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mcpjungle
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  values:
    controllers:
      mcpjungle:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          labels:
            egress.home.arpa/internet: allow
            egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
            egress.home.arpa/postgres-cluster: allow
            ingress.home.arpa/gateway-route: allow

        containers:
          app:
            image:
              repository: ghcr.io/mcpjungle/mcpjungle
              tag: 0.3.4-stdio@sha256:c65209b21c7d499e51ecc45c3e8119e547da8a4da8d68809fd31ba35ee4bd292
            env:
              SERVER_MODE: enterprise
            envFrom:
              - secretRef:
                  name: mcpjungle-db-secret
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: mcpjungle
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames:
          - ${HOSTNAME}
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: mcpjungle
                port: *port
