---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets,esphome-deploykey

        pod:
          labels:
            egress.home.arpa/internet: allow
            egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
            egress.home.arpa/domus-vlan: allow
            ingress.home.arpa/nginx-internal: allow
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "network",
                "ips": ["192.168.32.151/24"]
              }]

        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2024.12.4
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 256M
              limits:
                memory: 2048M

            env:
              - name: ESPHOME_DASHBOARD_USE_PING
                value: "true"

          codeserver:
            image:
              repository: lscr.io/linuxserver/code-server
              tag: 4.96.4@sha256:1c0c8d975186fd58ab2dbb50f0370c29ca1dcb6abe93b18c613104e9f44262b3
            ports:
              - containerPort: 8443
                name: codeserver
                protocol: TCP
            securityContext:
              allowPrivilegeEscalation: false
              runAsUser: 0

            resources:
              requests:
                cpu: 0m
                memory: 0M
              limits:
                memory: 1024M

            env:
              - name: PUID
                value: 0
              - name: PGID
                value: 0
              - name: DEFAULT_WORKSPACE
                value: /data/config

    service:
      app:
        controller: esphome
        ports:
          http:
            port: 6052
      codeserver:
        controller: esphome
        ports:
          codeserver:
            port: 8443

    ingress:
      app:
        className: "internal-nginx"
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress-int.piscio.net
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
      codeserver:
        className: "internal-nginx"
        hosts:
          - host: &host "code-esphome.piscio.net"
            paths:
              - path: /
                service:
                  identifier: codeserver
                  port: codeserver
        tls:
          - hosts:
              - *host

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          esphome:
            app:
              - path: /config
            codeserver:
              - path: /data/config
                readOnly: false
      secrets:
        type: secret
        name: esphome-secrets
        # globalMounts:
        #  - path: /config/secrets.yaml
        #    subPath: secrets.yaml
        advancedMounts:
          esphome:
            app:
              - path: /config/secrets.yaml
                subPath: secrets.yaml
            codeserver:
              - path: /data/config/secrets.yaml
                readOnly: false
                subPath: secrets.yaml
      esphome-cache:
        type: emptyDir
        # globalMounts:
        #  - path: /config/.esphome
        advancedMounts:
          esphome:
            app:
              - path: /config/.esphome
      deploy-key:
        type: secret
        name: esphome-deploykey
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_ed25519
            subPath: id_ed25519
