---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      n8n:
        annotations:
          secret.reloader.stakater.com/reload: auto

        pod:
          labels:
            egress.home.arpa/internet: allow
            egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
            egress.home.arpa/postgres-cluster: allow
            ingress.home.arpa/gateway-route: allow
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true

        containers:
          app:
            image:
              repository: n8nio/n8n
              tag: 1.112.3@sha256:c5fe3ff0b79f7831dc21f9c709bdb7eee4fff4453a28ce84c8e9fa5b9f562686
            env:
              VUE_APP_URL_BASE_API: "https://${HOSTNAME}"
              WEBHOOK_URL: "https://${HOSTNAME}"
              N8N_METRICS: "true"
              NODE_ENV: "production"
              NODE_FUNCTION_ALLOW_EXTERNAL: "cheerio"
              N8N_RUNNERS_ENABLED: true
              N8N_BLOCK_ENV_ACCESS_IN_NODE: true
            envFrom:
              - secretRef:
                  name: n8n-db-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                cpu: 500m
                memory: 1024Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: n8n
        ports:
          http:
            port: &port 5678

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.n8n
                readOnly: false

    route:
      app:
        hostnames:
          - ${HOSTNAME}
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: n8n
                port: *port
