---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: goldilocks
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  interval: 10m
  path: "./kubernetes/doc-home-cluster/infrastructure/monitoring/goldilocks/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: doc-ops-kubernetes
  wait: true
  dependsOn:
    - name: vpa
