---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: bazarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: bazarr-secret
    creationPolicy: Owner
  data:
    - secretKey: api_key
      remoteRef:
        key: bazarr
        property: api_key
