---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./networkpolicy.yaml
  - ./pvc.yaml
configMapGenerator:
  - name: speech-to-phrase-sentences
    files:
      - custom-sentences/it/sentences.yaml
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
configurations:
  - kustomizeconfig.yaml
