---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: speech-to-phrase-data
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
